@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -moz-tab-size: 4; 
    tab-size: 4;
}

body{
    margin: 0;
}

#site-main{
    margin-top: 100px;
}

.focus-middle{
    margin: 50px;
}

@media only screen and (max-width: 768px) {
    .focus-middle {
        margin: 30px auto;
    }

    body {
        font-size: 16px; 
    }
}