.error-page{
    background-color:rgb(21, 41, 83);
    padding: 80px;
    height: 50vh;
}

.error-content {
    width: 50%;
    height: 100%;
    padding: 20px;
    color: white;
}

.error-content h1,
.error-content p {
    margin: 0 0 20px 0;
}

.search-bar-container {
    width: 100%;
}

.search-form {
    width: 100%;
}

.search-form input.search-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}

@media only screen and (max-width: 768px) {
    .error-page {
        padding: 40px;
        height: auto; /* Permet à la hauteur de s'ajuster au contenu */
    }

    .error-content {
        width: 100%;
        padding: 10px;
    }

    .error-content h1 {
        font-size: 1.5em;
    }

    .error-content p {
        font-size: 1em;
    }

    .search-form input.search-field {
        font-size: 1em;
        padding: 8px;
    }
}