.site-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgb(21, 41, 83);
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
    z-index: 1000; 
    display: none; 
}

.site-nav.open {
    display: block; 
}

.site-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-end;
}

.site-nav ul li {
    margin-left: 20px; 
}

.site-nav ul li:first-child {
    margin-left: 0; 
}

.site-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.site-nav ul li a:hover {
    color: #f0f0f0; 
}

.site-nav .logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: auto; 
    height: auto;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1100;
}

.menu-toggle img {
    width: 30px; 
    height: auto;
}

.logo-bloc-container {
    position: absolute;
    top: 10px;
    left: 20px;
}

header, .logo-bloc-container {
    display: flex;
    align-items: center; 
}

@media only screen and (max-width: 768px) {
    .site-nav {
        height: auto;
        padding: 20px;
    }

    .site-nav ul {
        align-items: center;
    }

    .site-nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .site-nav ul li a {
        font-size: 16px;
    }

    .menu-toggle {
        top: 10px;
        right: 10px;
    }

    .menu-toggle img {
        width: 25px;
    }

    .logo-bloc-container {
        top: 5px;
        left: 10px;
    }
}