.text-home-page{
    margin: 10px;
    width: 60%;
    h1 {
        font-size: 3em;
    }
}

.image-home-page {
    text-align: right;
    img {
        max-width: 80%; 
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .text-home-page {
        width: 100%;
        margin: 10px 0;
    }

    .text-home-page h1 {
        font-size: 2em;
    }

    .image-home-page {
        text-align: center;
        margin-top: 20px;
    }

    .image-home-page img {
        max-width: 100%;
    }
}