.text-home-page{
    margin: 10px;
    width: 60%;
    h1 {
        font-size: 3em;
    }
}

.image-home-page {
    text-align: right;
    img {
        max-width: 80%; 
        height: auto;
    }
}

