.our-services-images {
    display: flex;
    flex-wrap: nowrap; 
    width: 100%;
    overflow: hidden;
}

.service-image img {
    width: 100%; 
    height: 100%;
    display: block; 
}

.image-on-page {
    width: 100%;
    height: auto; 
    display: block; 
    object-fit: cover; 
    margin: 0;
}
